.campo-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo-input.checkbox {
    flex-direction: row;
    gap: 10px;
}

.campo-input.checkbox label {
    margin: 0;
}

.campo-input label {
    margin-bottom: 5px;
}

.campo-input input {
    font-size: 15px;
    border: none;
    padding: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}