.card-tarefa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    height: 250px;
    border-radius: 20px;
    background-color: black;
}

.cabecalho {
    text-align: center;
    border-radius: 20px 20px 0 0;
}

.cabecalho h3{
    width: 230px;
}

textarea {
    cursor: default;
    resize: none;
    padding: 10px 10px 0;
    height: 180px;
    border: none;
    outline: none;
    caret-color: transparent;
    border-radius: 0 0 20px 20px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons svg{
    padding: 2px;
    border-radius: 100%;
}

.icons svg:hover{
    transition: 0.3s;
    background-color: #ccc;
}

.tarefaFinalizada {
    display: flex;
    align-items: center;
}

.tarefaFinalizada p{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}