.select-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select-input label {
    margin-bottom: 5px;
}

.select-input select {
    border: none;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}